* {
margin: 0;
}
html, body {
height: 100%;
font-family: sans-serif;
}
body:selection {
color: green;
}
.page {
position: relative;
max-width: 700px;
margin: 0 auto;
min-height: calc(100% - 50px);
margin-bottom: -25px;
overflow: auto;
}
.page:after {
content: "";
display: block;
height: 25px;
}
footer {
height: 25px;
background: black;
color: white;
text-align: center;
}
header {
background: green;
text-align: center;
height: 50px;
line-height: 50px;
width: 100%;
color: white;
font-size: 30px;
}
header p {
margin: 0px;
}
.col {
float: left;
width: 200px;
position: absolute;
top: 0px;
bottom: 50px;
background: red;
margin-bottom: -25px;
color: white;
}
.col ul {
cursor: pointer;
line-height: 27px;
list-style-type: none;
margin-top:20px;
margin-right: 30px;
}
.col ul li:hover {
background: green;
}
.text {
max-width: 500px;
background: white;
margin-left: 200px;
text-align: justify;
padding: 20px 5px 5px 5px;
}
.text p::selection {
color: white;
background: green;
}
.text p:first-letter {
font-size: 23px;
color: red;
}
